<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dishes.css">
    <title>菜品</title>
</head>

<body>
<div class="container main">
	{% for dish in dishes %}
	<div class="dish row">
		<div class="cover">
			<img src="{{ STATIC_URL }}{{ dish.cover }}" alt="{{ dish.name }}" onerror="this.src='http://placehold.it/90x90&text={{ dish.name }}'">
		</div>
		<div class="intro">
			<div class="name">{{ dish.name }}</div>
			<div class="desc">{{ dish.desc }}</div>
		</div>
	</div>
	{% empty %}
	<div class="nodishes">
		现在暂时还没有更多菜品展示
	</div>
	{% endfor %}
</div>
<script type="text/javascript" src="{{ STATIC_URL }}components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dishes.js"></script>
</body>

</html>
