<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
    <title>个人中心</title>
</head>

<body>
<div class="container">
    <div class="profile">
        <div class="avatar">
            <div class="image">
                <img src="{{ avatar }}"/>
            </div>
            <div class="name">{{ username }}
            </div>
        </div>
        <div class="button-list">
            <div id="orderlist"><img src="{{ STATIC_URL }}img/orderIcon.png">我的订单</div>
            <div id="preorder"><img src="{{ STATIC_URL }}img/seatOrder1.png">我的预订</div>
            <div id="exit"><img src="{{ STATIC_URL }}img/outgoing.png">退出</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
</body>
