<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css">
    <title>个人中心</title>
</head>

<body>
{% include "app/head.html" with redirect='/app' title="个人中心" %}
<div class="container">
    <div class="profile">
        <div class="avatar">
            <div class="image">
                <img src="{{ avatar }}"/>
            </div>
            <div class="name">{{ username }}
            </div>
        </div>
        <div class="button-list">
            <a href="/app/myOrder">
                <div id="orderlist"><img src="{{ STATIC_URL }}img/ordericon.png"><span>我的订单</span></div>
            </a>
            <a href="/app/preorder">
                <div id="preorder"><img src="{{ STATIC_URL }}img/seaticon.png"><span>我的预定</span></div>
            </a>
            <a href="/app/exit">
                <div id="exit">退出登录</div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
