{% extends "backend/scaffold.html" %}
{% load django_tables2 %}

{% block title %}
麻辣烫-用户管理
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/backend/user.css">
{% endblock %}

{% block content %}
{% include "backend/navbar.html" with tab=request.nav.active_tab %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- include "backend/search.html" with action="talk" value=request.GET.q href=request.path -->
            用户信息
        </div>
        <div class="panel-body">
            {% render_table table "backend/table_template.html" %}
        </div>
    </div>
</div>
<div data-id="{{ record.id }}"></div>
{% endblock %}

{% block js %}
<script>var global = window;</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backend/user.js">
</script>
{% endblock %}

