@import "header.css";

body {
	margin: 0;
	background-color: #FCF7F1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
	overflow-x: hidden;
}

.main {
	margin: 10px;
	margin-bottom: 60px;
}
.dish {
	padding: 10px;
	margin-bottom: 10px;
	background: #FFF;
	border: 1px solid #D6D6D6;
	box-shadow: 0 0 3px #D6D6D6;
}
.cover {
	float: left;
	width: 90px;
	height: 90px;
}
.cover img {
	width: 100%;
}
.info {
	margin-left: 105px;
}
.name {
	font-size: 16px;
	margin-bottom: 5px;
}
.price {
	margin-bottom: 10px;
	margin-top: 9px;
	font-size: 14px;
	color: #D66928;
}
.count {
	float: right;
}
.count_info {
	color: #919193;
}
.counter {
	display: inline-block;
	border: 1px solid #f4b18b;
	border-radius: 3px;
}
.counter>span.number {
	vertical-align: middle;
}
.counter>span:not(.number) {
	color: #D66928;
	text-align: center;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.minus {
	border-right: 1px solid #f4b18b;
}
.plus {
	border-left: 1px solid #f4b18b;
}
.counter>span.disabled {
	color: #EAB595;
}
.total {
	display: none;
	padding: 10px;
	background-color: #FFF;
	border-top: 1px solid #C2C2C2;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.total>div {
	padding: 6px 12px;
	display: inline-block;
}
.total>div:first-child {
	padding-left: 0;
	padding-right: 0;
}
.total .submit {
	color: #FFF;
	background-color: #E96419;
	border: 1px solid #C16330;
	border-radius: 3px;
	font-size: 16px;
	float: right;
	width: 35%;
	text-align: center;
}
.numberTotal {
	color: #E96418;
}
.total>.totalPrice {
	margin-right: 0;
	font-size: 17px;
	color: #D66928;
}
.nodishes {
	text-align: center;
	color: #8E8E93;
}
