body {
    margin: 0;
    background-color: #FCF7F1;
}

.profile .avatar {
    margin: 40px 0px; 
    text-align: center;
}

.avatar .image img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 20px;
    box-shadow: 0px 5px 3px rgba(138, 138, 137, 0.5);
}

.name {
    margin-top: 10px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: 3px 0 5px;
    background-color: #FCF7F1;
}

.profile .button-list > div {
    border-radius: 4px;
    border: none;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    background: #fff;
    color: #000;
}

.button-list img {
    max-height: 30px;
    margin: -5px 40px 0px 50px;
    float: left;
}



