.profile .avatar {
    margin: 40px 0px; 
    text-align: center;
}

.avatar .image img {
    max-width: 75px;
    max-height: 75px;
}

.profile input[type="button"] {
    border-radius: 4px;
    border: none;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    background: #39D729;
    color: #000;
}



